.large-hero{
    position: relative;

}

.large-hero__text-content {
    position:absolute ;
    top: 50%  ;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.large-hero__title {
    font-weight: 100;
    color: #2f5572;
    font-size: 4rem;
}

.large-hero__subtitle{
    font-weight: 300;
    color: #2f5572;
    font-size: 2.9rem;
    margin: 0;

}

.large-hero__description{
    color: #FFF;
    font-size: 1.875rem  ;
    font-weight: 100;
    text-shadow: 2px 2px 0 rgba(0,2,1,.1);
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;

}