/* used to centerlize content */

.wrapper{
    padding-left: 18px ;
    padding-right: 18px;
    max-width: 1200px;
    margin-left:auto;
    margin-right: auto;

}

.wrapper--medium{
    max-width: 976px;

}

.wrapper--b-margin{
    margin-bottom: 2rem;

    @mixin atSmall{
        margin-bottom: 3.875rem;
    }
}